SECRET_KEY=sua-chave-secreta-muito-segura-aqui
ALLOWED_HOSTS=cnacob.moysesnet.com,157.173.212.*
CSRF_TRUSTED_ORIGINS=http://cnacob.moysesnet.com,https://cnacob.moysesnet.com
PORTAL_BASE_URL=http://cnacob.moysesnet.com
